<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to My App</h1>
  <p>Hello <%= @user.full_name %>!</p>
  <div>
  Thank you for joining our app. I am the founder and CEO, Marvin.
  
  Have any questions, write to me at otienomarvin7@gmail.com.
  
  Happy Reading!!!
  
  </div>
</body>
</html>
