<%= form_with model: @comment, url: post_comments_path(post_slug: @post.slug), method: :post do |form| %>
    <h3>Comment on this post</h3>
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, required: true %>
    </div>
    
    <%= form.submit 'Comment' %>
<% end %>
  