<div class="container">
  <h1>Notifications</h1>

  <% @notifications.each do |n|%>
    <p style="
     border: 1px solid lightgray;
     border-radius: 3px;
     padding: 3px;
     margin: 7px auto;">
     <%= n.action %>
    </p>
  <% end %>
</div>
