<%= form_with model: @post, url: post_path(@post), method: :patch do |form| %>

  <%= render 'form_fields', form: form %>
  <div style="display: flex; justify-content: flex-end; width: 80%; margin: 10px auto;">
      <div style="float-right">
        <%= form.submit 'Update', class:"btn btn-info" %>
      </div>
  </div>
  
<% end %>
