<h1>All Posts</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= render 'post', post: post %>
  <% end %>

  <%= will_paginate @posts %>
<% else %>
  <p>No posts available in this category.</p>
<% end %>

