body {
  box-sizing: border-box;
  background: rgb(235, 239, 240);
}

.tip {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 500px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  padding: 3px;
  z-index: 5;
  border-radius: 7px;
  background: white;
}

.alert {
  border: 3px solid rgb(18, 145, 203);
  color: black;
}

.notice {
  border: 3px solid green;
  color: black;
}

.field input {
  border-radius: 4px;
}

.link-text {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .tip {
    font-size: 15px;
    width: 70vw;
    font-size: 12px;
  }
}
