.alert, .notice {
  position: absolute;
  top: 20px;
  right: 0;
  width: 80rem;
  height: 30px;
  font-size: 20px;
  z-index: 5;
  color: black;
}

body {
  box-sizing: border-box;
  background: rgb(235, 239, 240);
}

@media screen and (max-width: 768px){
  .alert, .notice {
    height: 20%;
    font-size: 15px;
  }
}
